@keyframes fade-in {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.recipe-list-view {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
}

.recipe {
    background-color: rgb(235, 235, 235);
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    border-radius: 8px;
    animation-name: fade-in;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.recipe-buttons-container {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.tag-container {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.tag {
    border-radius: 24px;
    padding: 4px 12px;
    list-style: none;
    display: inline;
    line-height: 1;
    background-color: none;
    color: black;
    border: 1px solid black;
    user-select: none;
    cursor: pointer;
    font-size: 12px;
}

.tag-selected {
    background-color: black;
    color: white;
}

.search-bar {
    display: flex;
    flex-direction: column;
    background-color: beige;
    padding: 12px;
    gap: 8px;
    border-radius: 16px;
    position: sticky;
    top: 72px;
    z-index: 1;
}

.recipesList {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 56px 0;
}

/* .add-recipe-box {
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.add-recipe-box-active {
    pointer-events: all;
} */



.edit-modal {
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: gainsboro;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;
}

.add-recipe-form {
    background-color: antiquewhite;
    padding: 16px;
    height: 60%;
    width: 100%;
    bottom: 0px;
    left: 0px;
    position: fixed;
    border-radius: 16px 16px 0 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    z-index: 1;
    transform: translateY(88%);
    transition: all 0.5s cubic-bezier(0.03, 0.13, 0.17, 1);
}

/* .add-recipe-box-active .add-recipe-form {
    transform: translateY(0%);
} */

.add-recipe-form-active {
    transform: translateY(0%);
}

/* .add-recipe-from-active::before {
    content: 'dd';
    width: 100%;
    height: 100%;
    background-color: aqua;
} */

.add-recipe-background {
    position: absolute;
    height: 100%;
    width: 100%;
    transition: all 0.5s cubic-bezier(0.03, 0.13, 0.17, 1);
    backdrop-filter: blur(0px) brightness(1);
}

.add-recipe-box-active .add-recipe-background {
    backdrop-filter: blur(4px) brightness(0.5);
    pointer-events: none;
}

.add-recipe-box-header {
    display: flex;
    justify-content: space-between;
}